body,
html {
  background-color: hsl(212, 45%, 89%);
  margin: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

p {
  font-family: "Outfit", sans-serif;
  margin: 0;
  padding: 0;
}

.qr-code-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 300px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 15px;
}

.qr-code-img-div {
  padding: 12px;
}

.qr-code-img {
  display: block;
  margin: 0 auto;
  width: 100%;
  border-radius: 15px;
}

.description-div {
  border-radius: 15px;
  padding: 35px;
  padding-top: 10px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.015);
}

.description {
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  color: hsl(218, 44%, 22%);
  margin-bottom: 15px;
}

.sub-description {
  font-weight: 400;
  color: hsl(220, 15%, 55%);
  text-align: center;
  font-size: 14px;
}

@media (max-width: 375px) {
  .qr-code-container {
    margin: 20px;
  }

  p {
    color: red;
  }
}